@layer responsive;

@layer responsive {

@media (max-width:900px){

section{

padding-block:var(--space-4xl);

}

}

@media (max-width:700px){

.container{

width:calc(100% - 32px);

}

h1{

font-size:3rem;

}

.nav-links{

display:none;

}

}
}