@layer layout;

@layer layout {

.container{

    width:min(var(--width-page),calc(100% - 48px));

    margin-inline:auto;

}

.container.narrow{

    width:min(var(--width-content),calc(100% - 48px));

}

section{

    padding-block:var(--space-5xl);

}

.grid{

    display:grid;

    gap:var(--space-xl);

}

}